#############################log param list##############################
# if don't want to return to next line, use "#n" at the end of log
# if don't want to print header, use "#h" at the end of log
#########################################################################

log_name: 	  		  	  	AGV_LOG
#software_version: 			1.0			# set it in program

print_to_file: 				true		# <true/false>: print log to file or not
print_to_screen: 			true		# <true/false>: print log to screen or not
print_log_param: 			true		# <true/false>: print log configuration parameters or not
enable_debug_log: 			true 		# print debug log or not
record_data_to_file:		true 		# record data to file or not

#########################################################################
# if log file timeout, it will be deleted
#########################################################################
log_file_timeout_year: 		0
log_file_timeout_month: 	0
log_file_timeout_day: 		10
log_file_timeout_hour: 		0
log_file_timeout_minute: 	0
log_file_timeout_second: 	0

#########################################################################
# all log, whose level beyonds this level, will be print to screen
# 1: info; 2: warning; 3: error; 4: fatal; 5: debug; 6: disable print
#########################################################################
print_to_screen_level: 		1

max_float_precision: 		4			# print precision of float
flush_period: 				1000		# unit: ms, flush log to file or screen period
record_file_flush_period:   1000		# unit: ms, flush record data to file period

#########################################################################
# if the size of log file is larger than the value, a new log file will be generated
# unit: byte
#########################################################################
log_file_max_size:			10000000	# 10M

