<launch>
  <rosparam command="load" file="$(find cartographer_ros)/config/carto_localization.yaml" />
  <arg name="log_dir" default="$(find cartographer_ros)/config/"/>
  <node name="cartographer_node" pkg="cartographer_ros"
      type="cartographer_node" args="
          -configuration_directory $(find cartographer_ros)/../../cartographer/configuration_files
          -configuration_basename demo_2d.lua
          -log_directory  $(arg log_dir)"
      output="screen">
  </node>

  <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros" type="cartographer_occupancy_grid_node" args="-resolution 0.05" />
  <node name="rviz" pkg="rviz" type="rviz" required="false" args="-d $(find cartographer_ros)/configuration_files/demo_2d.rviz" />
  <include file="$(find yunshen_robot_navigation)/launch/description_for_sim.launch" />
</launch>
